.App {
  text-align: center;
  font-size: 22px;
}
.links a {
  margin: 0 10px;
}
.app__content {
  width: 60%;
  margin: 40px auto 0;
}

.layer-container {
  margin: 10px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 12px;
}